<div class="row">
         <% @posts.each do |posts| %>
        <div class="col-md-6 col-lg-4">
          <div class="card post-card">
         <div class="card-body d-flex flex-column">
          <h5 class="card-title"><%= post.title %></h5>
         <p class="card-text"><%= post.descriptioni length: 250 %></p>
         <%= link_to "Read Post", blog_posts_path(post), class: "btn btn-primary mt-auto" %>
          <% end %>
       </div>
      </div>
    </div>
</div>
